.footer-style {
  /* display: flex; */
  justify-content: center;
  text-align: center;
  background-color: lightgrey;
  padding: 20px;
  margin-top: 40px;
}

table {
  width: 100%;
}

.footbut {
  background-color: gold;
  border: gold;
}

.col1 {
  text-align: left;
}

.col2 {
  text-align: left;
}

/* .footerMainDiv {

  height: 100vh;
} */

.custom-dropdown .dropdown-toggle {
  color: #ecedee;
  /* Add any other styles you want */
}

.custom-btn{
  border: 3px solid #566875;
  background-color: #566875;
}
.custom-btn:hover{
  border: 3px solid #566875;
  background-color: #677c8b;
}